/*-- BASE CSS --*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #FFF0F5;
  line-height: 1.5;
}

html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

a[href]:not([class]) {
  color: #1E90FF;
  text-decoration: none;
  transition: all ease-in-out .3s;
}

h2, h3 {
  font-family: 'Pacifico', 'Poppins', sans-serif, cursive;
}

p {
  font-family: 'Indie Flower', 'Poppins', sans-serif, cursive;
  font-size: 1.2em;
}

/*-- JAVASCRIPT CSS --*/
.javascript_call {
  margin-top: -6em;
  transition: margin 0.4s ease-out;
}

.show {
  margin-top: 0em;
}

/*--- HEADER en FOOTER ---*/
.header_boven {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  align-items: center;
  border-radius: 25px;
}

.header_boven h1, .header_boven p {
  font-family: 'Pacifico', 'Poppins', sans-serif, cursive;
}

header span {
  font-size: 1.25em;
  font-family: 'Pacifico', 'Poppins', sans-serif, cursive;
}

header img {
  min-width: 70px;
  max-width: 70px;
  min-height: 70px;
  max-height: 70px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lavender;
  padding: 1em;
  list-style-type: none;
  border-radius: 25px;
}

li {
  background-color: white;
  padding: 0.75em;
  border-radius: 25px;
}

footer p {
  background-color: lavender;
  padding: 1em;
  text-align: center;
  border-radius: 25px;
}

/*--
footer nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lavender  ;
    padding: 1em;
    list-style-type: none;
  }
  --*/
header h1 {
  font-weight: bold;
  align-self: center;
}

header p {
  margin-right: 1.5em;
  font-size: 1.5em;
  color: black;
  font-weight: bold;
}

/*--- INLOGGEN ---*/
main form {
  margin-top: 1em;
}

main legend {
  font-size: 1.25em;
  font-weight: bold;
}

fieldset {
  transition: all .5s;
  padding: 1em;
  border: none;
}

.inlog_container input {
  width: 50%;
  transition: all 1s;
  z-index: 2;
  margin: 1em;
}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: MediumVioletRed;
  background: LightPink;
}

input:focus {
  transform: scale(1.01, 1.01);
}

input:focus+p.tooltip {
  display: block;
  opacity: 1;
  margin-top: -1.3em;
}

input:disabled {
  border-color: #eee;
  background-color: #f9f9f9;
}

input::placeholder {
  color: rgba(0, 0, 0, .25);
  font-style: italic;
}

button {
  font-size: 1em;
  flex: 0 0 2em;
  transition: all .2s 1s;
  opacity: 0;
  width: 4em;
}

form:valid button {
  opacity: 1
}

button:focus {
  transform: scale(1.1, 1.1);
}

fieldset:valid {
  background: #98FB98;
}

fieldset:invalid {
  background: rgba(255, 0, 0, .1);
}

.inlog_container {
  height: 9em;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  padding: 1em;
}

.cont_username, .cont_password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 21em;
}

.ingelogd {
  text-align: center;
}

/*--- AANTAL WORKSHOPS ---*/
.aantal_workshops {
  background-color: lavender;
  padding-bottom: 1em;
  border-radius: 25px;
}

.aantal_workshops h2 {
  margin-left: 2em;
  margin-top: 2em;
  padding-top: 1em;
}

.aantal_workshops article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

.aantal_workshops article section {
  background-color: white;
  width: 10em;
  padding: 1em;
  margin: 0.5em;
  border-radius: 25px;
}

.aantal_workshops img {
  max-width: 15em;
  min-width: 10em;
  min-height: 7em;
  width: 22%
}

.aantal_workshops img:hover {
  opacity: 0.7;
  border-radius: 20px;
  transition-timing-function: ease-in-out;
}

.aant_workshops p {
  margin-top: -0.5em;
}

/*--- AANTAL RECEPTEN ---*/
.aantal_recepten {
  background-color: lavender;
  padding-bottom: 1em;
  border-radius: 25px;
}

.aantal_recepten h2 {
  margin-left: 2em;
  margin-top: 2em;
  padding-top: 1em;
}

.aantal_recepten article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2em;
  margin-right: 2em;
}

.aantal_recepten article section {
  background-color: white;
  width: 10em;
  padding: 1em;
  margin: 0.5em;
  border-radius: 25px;
}

.aantal_recepten img {
  max-width: 15em;
  min-width: 10em;
  min-height: 7em;
  width: 22%
}

.aantal_recepten img:hover {
  opacity: 0.7;
  border-radius: 20px;
  transition-timing-function: ease-in-out;
}

.aantal_recepten p {
  margin-top: -0.5em;
}

/*--- BAKSEL VOORDRAGEN ---*/
.art_voordragen {
  background-color: white;
  padding: 1em;
  margin-top: 1em;
  border-radius: 25px;
}

.art_voordragen p, .art_voordragen h2 {
  margin-left: 1em;
}

.art_voordragen button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  opacity: 1;
}

/*------------ INLOGPAGINA ------------*/
/*--- MELDINGEN ---*/
.art_meldingen h2 {
  text-align: center;
}

.art_meldingen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: flex-start;
  padding-left: 5%;
  background-color: lavender;
  border-radius: 25px;
}

.art_meldingen section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  margin-bottom: 1em;
  border-radius: 25px;
}

.art_meldingen section p,
.art_meldingens section h3 {
  padding-left: 2em;
  padding-right: 2em;
}

.art_meldingen img {
  max-width: 10em;
  min-width: 10em;
  min-height: 7em;
  width: 22%;
  padding: 1em;
}

.art_meldingen img:hover {
  opacity: 0.7;
  border-radius: 20px;
  transition-timing-function: ease-in-out;
}

/* --- KOMENDE WORKSHOPS ---*/
.komende_workshops h2 {
  margin-left: 2em;
  margin-top: 2em;
  padding-top: 1em;
}

.komende_workshops article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 1em;
}

.komende_workshops img {
  max-width: 15em;
  min-width: 10em;
  min-height: 7em;
  width: 22%
}

.komende_workshops img:hover {
  opacity: 0.7;
  border-radius: 20px;
  transition-timing-function: ease-in-out;
}

.komende_workshops p {
  margin-top: -0.5em;
}

.komende_workshops article section {
  background-color: white;
  width: 10em;
  padding: 1em;
  margin: 0.5em;
  border-radius: 25px;
}

.komende_workshops {
  background-color: lavender;
  border-radius: 25px;
}

/*--- MIJN VOORGEDRAGEN BAKSELS ---*/
.art_voor_baksels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: flex-start;
  padding-left: 5%;
  background: lavender;
  border-radius: 25px;
}

.art_voor_baksels img {
  max-width: 15em;
  min-width: 10em;
  min-height: 7em;
  width: 22%;
  margin-top: 1em;
  padding: 1em;
}

.art_voor_baksels img:hover {
  opacity: 0.7;
  border-radius: 20px;
  transition-timing-function: ease-in-out;
}

.art_voor_baksels {
  margin-top: 3em;
  padding-bottom: 2em;
}

.art_voor_baksels section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-left: 2em;
  margin-right: 2em;
}

.div_voor_baksel1 div:nth-child(2) {
  margin-left: 6em;
}

.div_voor_baksel2 p:nth-child(1) {
  color: green;
}

.div_voor_baksel3 p:nth-child(1) {
  color: yellow;
}

.art_voor_baksels div {
  background-color: white;
  margin-top: 1em;
  border-radius: 25px;
}

/*--- MIJN OPGESLAGEN WORKSHOPS ---*/
.art_saved_workshop img {
  max-width: 15em;
  min-width: 10em;
  min-height: 7em;
  width: 22%;
  margin-top: 1em;
  padding: 1em;
}

.art_saved_workshop img:hover {
  opacity: 0.7;
  border-radius: 20px;
  transition-timing-function: ease-in-out;
}

.art_saved_workshop section:nth-child(1),
.art_saved_workshop section:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  margin-bottom: 1em;
  border-radius: 25px;
}

.art_saved_workshop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: flex-start;
  padding-left: 5%;
  background-color: lavender;
  margin-top: 2em;
  border-radius: 25px;
}

.art_saved_workshop section p,
.art_saved_workshop section h3 {
  padding-left: 2em;
  padding-right: 2em;
}

/*--- MIJN OPGESLAGEN BAKSELS ---*/
.art_saved_baksel img{
  max-width: 15em;
  min-width: 10em;
  min-height: 7em;
  width: 22%;
  margin-top: 1em;
  padding: 1em;
}

.art_saved_baksel img:hover {
  opacity: 0.7;
  border-radius: 20px;
  transition-timing-function: ease-in-out;
}

.art_saved_baksel section:nth-child(1),
.art_saved_baksel section:nth-child(2),
.art_saved_baksel section:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  margin-bottom: 1em;
  border-radius: 25px;
}

.art_saved_baksel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: flex-start;
  padding-left: 5%;
  background-color: lavender;
  margin-top: 2em;
  border-radius: 25px;
}

.art_saved_baksel section p,
.art_saved_baksel section:nth-child(1) h3,
.art_saved_baksel section:nth-child(2) h3,
.art_saved_baksel section:nth-child(3) h3 {
  padding-left: 2em;
  padding-right: 2em;
}

/*------------ Ticket PAGINA ------------*/
.ticket_wrapper {
  margin-top: 2em;
}

.ticket_wrapper section:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: flex-start;
  background-color: white;
  border-radius: 25px;
}

.ticket_wrapper img {
  width: 45%;
  min-width: 15em;
  padding: 2em;
}

.ticket_wrapper img:hover {
  opacity: 0.7;
  border-radius: 20px;
  transition-timing-function: ease-in-out;
}

.ticket_wrapper section article {
  margin: 2em;
  padding: 2em;
  width: 50%;
  background-color: lavender;
  border-radius: 25px;
}

.ticket_wrapper section:nth-child(2) {
  margin-top: 2em;
  padding: 2em;
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: flex-start;
  background-color: white;
  border-radius: 25px;
}

.ticket_wrapper form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.ticket_wrapper form input {
  margin: 1em;
}

/*------------ Recept PAGINA ------------*/
.ingredietenlist {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: flex-start;
}
